<template>
  <div class="dialog">
    <div class="dialog__inner d-flex x-center" :style="{ 'background': color }">
    <span>
      {{ content }}
    </span>
    </div>
  </div>
</template>

<script>
export default {
  props: ['content', 'color'],
  name: "v-dialog"
}
</script>

<style scoped lang="scss">
.dialog{
  position: fixed;
  top: 0;
  font-size: 14px;
  width: 260px;
  left: calc(50% - 130px);
  overflow: hidden;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  &__inner{
    width: 100%;
    height: 100%;
    padding: 10px;
  }
}
</style>
