<template>
  <div class="modal d-flex y-center y-center">
    <div class="modal__inner">
      <div class="modal__close" @click="$emit('closeModal')">
        <font-awesome-icon icon="fa-xmark" size="xl" />
      </div>
      <div class="modal__title">
        <span>{{ data.title }}</span>
      </div>
      <div class="modal__form">
        <form>
          <div class="modal-form__items">
            <template v-if="data.type === 'login'">
              <div class="modal-form__item login d-flex column">
                <label for="login">Логин</label>
                <div class="modal-form__input">
                  <input class="login__input" id="login" type="text" v-model="login" />
                </div>
              </div>
              <div class="modal-form__item login">
                <label for="password">Пароль</label>
                <div class="modal-form__input field-with-icon">
                  <input class="password__input" id="password" :type="passwordType" v-model="password" />
                  <div class="password__icon">
                    <font-awesome-icon icon="fa-eye"
                                       style="color: #000000;"
                                       @click="passwordType = 'password'"
                                       v-if="passwordType === 'text'"
                    />
                    <font-awesome-icon @click="passwordType = 'text'"
                                       v-if="passwordType === 'password'"
                                       icon="fa-eye-slash"
                                       style="color: #000000;"
                    />
                  </div>
                </div>
              </div>
              <div class="modal-form__restore-password d-flex x-end">
                <a @click="$emit('changeModalOptions', 'registration')" href="#">Забыли пароль?</a>
              </div>
              <div class="modal-form__checkbox d-flex y-center">
                <button @click.prevent="confirm = !confirm" :class="{ 'bg-active': confirm }">
                  <font-awesome-icon v-show="confirm" icon="fa-solid fa-check" />
                </button>
                <span>Я согласен с договором <a href="#">оферты</a></span>
              </div>
            </template>
          </div>
          <button :disabled="!confirm" :class="{ 'disable-btn': !confirm }" class="modal-form__btn" @click.prevent="sendForm()">
            <span>{{ data.btnText }}</span>
          </button>
          <div v-if="data.type === 'login'" class="modal-form__registration d-flex x-center">
            <span>Нет аккаунта? <a href="#">Зарегистрироваться</a></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['data'],
  name: "v-modal",
  data() {
    return {
      login: '',
      password: '',
      passwordType: 'password',
      confirm: false
    }
  },
  methods: {
    sendForm() {
      // Авторизация со стороны клиента
      const ctx = {
        body: {
          login: this.login,
          password: this.password
        },
        requestType: 'client'
      }
      const data = this;
      if (this.data.type === 'login') {
        this.$store.dispatch('modules/app/login', ctx)
          .then( async function (resp) {
            data.$store.commit('modules/app/SET_USER', resp.data.user);
            data.$store.commit('modules/app/SET_TOKEN', resp.data.token);
            await data.$store.dispatch('modules/app/getUserSettings').then( resp => {
              data.$store.commit('modules/app/SET_USER_SETTINGS', resp.data)
              data.$router.push({ name: 'settings', params: { requestType: 'client' } })
            })
          })
      }
    }
  },
}
</script>

<style scoped lang="scss">
.modal{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  &__inner{
    background: #fff;
    margin: auto;
    padding: 30px;
    position: relative;
    width: 440px;
    border-radius: 8px;
  }
  &__title{
    color: #000;
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 30px;
    text-transform: uppercase;
  }
}
.modal-form{
  &__items{
    margin-bottom: 30px;
  }
  &__input{
    width: 100%;
    position: relative;
    input{
      width: 100%;
      padding: 10px 13px;
    }
  }
  &__item{
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    label{
      -moz-box-flex: 0;
      font-size: 14px;
      font-weight: 500;
      margin: 0 1.5rem 0 0;
    }
  }
  &__btn{
    width: 100%;
    padding: 13px 2px;
    background: $active-color;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    &:hover{
      background: $active-color-hover;
      color: white;
    }
  }
  &__restore-password{
    width: 100%;
  }
  &__checkbox{
    margin-top: 20px;
    width: 100%;
    button{
      width: 24px;
      height: 24px;
      border-radius: 4px;
      background: none;
      border: 1px solid $active-color;
      cursor: pointer;
      position: relative;
      svg{
        color: white;
        position: absolute;
        width: 60%;
        height: 60%;
        top: 20%;
        left: 20%;
      }
    }
    span{
      font-size: 14px;
      margin-left: 10px;
    }
  }
  &__registration{
    font-size: 14px;
    margin-top: 20px;
  }
}
.password__icon{
  position: absolute;
  right: 20px;
  top: calc(50% - 8px);
}
.field-with-icon{
  input{
    padding-right: 50px;
  }
}
.modal__close{
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
  transition: .4s;
  &:hover{
    transform: rotate(90deg);
    color: $active-color;
  }
}
</style>
