<template>
  <div class="main">
    <Nuxt />
  </div>
</template>
<script>
import DeviceDetector from "device-detector-js"
export default {
  name: 'default',
  methods: {
    getCurrentDevice() {
      const deviceDetector = new DeviceDetector();
      return  deviceDetector.parse(navigator.userAgent);
    },
  },
  mounted() {
    this.$store.commit('modules/app/SET_DEVICE', this.getCurrentDevice());
  }
}
</script>
