<template>
  <div>
    <v-modal
      :data="modalOptions"
      @changeModalOptions="changeModalOptions($event)"
      @closeModal="isOpenModal = false"
      v-if="isOpenModal"
    />
    <div class="login d-flex y-center x-center" @click="isOpenModal = true">
      <button>Войти</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndexPage',
  data() {
    return {
      modalOptions: {
        type: 'login',
        title: 'Авторизация',
        url: '/login',
        btnText: 'Войти',
      },
      isOpenModal: true
    }
  },
  methods: {
    changeModalOptions(type) {
    //  Логика переключения типа модального окна
    }
  }
}
</script>

<style scoped lang="scss">
.login{
  width: 100%;
  height: 20vh;
  button{
    padding: 10px 20px;
    border: none;
    background: $active-color;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
      background: $active-color-hover;
      color: white;
    }
  }
}
</style>
