<template>
  <div class="wrapper">
    <transition name="dialog">
      <v-dialog
        :content="dialogOptions.content"
        :color="dialogOptions.color"
        v-if="isOpenDialog"
      />
    </transition>
    <div class="settings">
      <section class="account d-flex x-space-between">
        <div class="account__title">
          <span>Учётная запись</span>
        </div>
        <div class="account__items">
          <div class="account__item d-flex x-space-between">
            <label for="company">Компания</label>
            <div class="account-item__input">
              <input id="company" type="text" readonly="readonly" v-model="company" />
            </div>
          </div>
          <div class="account__item d-flex x-space-between">
            <label for="login">Логин</label>
            <div class="account-item__input">
              <input id="login" type="text" readonly="readonly" v-model="login" />
            </div>
          </div>
          <div class="account__item d-flex x-space-between">
            <label for="number">Номер телефона</label>
            <div class="account-item__input">
              <input id="number" type="text" v-model="phoneNumber" />
            </div>
          </div>
          <div class="account__item d-flex x-space-between">
            <label for="firstname">Имя</label>
            <div class="account-item__input">
              <input id="firstname" type="text" v-model="firstName" />
            </div>
          </div>
          <div class="account__item d-flex x-space-between">
            <label for="lastname">Фамилия</label>
            <div class="account-item__input">
              <input id="lastname" type="text" v-model="lastName" />
              <span class="text">* Не обязательно</span>
            </div>
          </div>
        </div>
      </section>
      <section class="notifications d-flex x-space-between">
        <div class="notifications__title">
          <span>Оповещения о новых подборках </span>
        </div>
        <div class="notifications__items">
          <div class="notifications__item d-flex y-center">
            <input id="off-notifications" value="off" type="radio" name="notification" v-model="notifications" />
            <label for="off-notifications">Выкл</label>
          </div>
          <div class="notifications__item d-flex x-space-between y-center">
            <div class="notification-item__left">
              <input id="email-notifications" value="email" type="radio" name="notification" v-model="notifications"/>
              <label for="email-notifications">Email</label>
            </div>
            <div class="notification-item__right d-flex y-center">
              <template v-if="isEditingEmail">
                <div class="notification-item__input">
                  <input @keydown.enter="isEditingEmail = false" @blur="isEditingEmail = false" id="login" type="text" v-model="email" />
                </div>
              </template>
              <template v-else>
                <span v-if="email.length">{{ email }}</span> &nbsp; &nbsp;
                <button @click="isEditingEmail = true" class="notification-item__change-email">
                  <font-awesome-icon icon="fa-pen-to-square" />
                </button>
              </template>
            </div>
          </div>
        </div>
      </section>
      <div class="hr">
        <hr/>
      </div>
      <section class="save d-flex x-end">
        <button @click="changeEmail()" class="save__btn">
          Сохранить
        </button>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  name: "settings",
  // Это авторизация со стороны сервера, ее вынес сюда, так как еще сделал модку авторизации на главной странице
  async asyncData({ store, params }) {
    // Проверяем, не авторизовались ли мы уже с клиента
    if (params.requestType !== 'client') {
      const ctx = {
        body : {
          login: '9098549927',
          password: '1323244570'
        },
        requestType: 'server'
      }
        await store.dispatch('modules/app/login', ctx)
        .then( async function (resp) {
          store.commit('modules/app/SET_USER', resp.data.user);
          store.commit('modules/app/SET_TOKEN', resp.data.token);
          await store.dispatch('modules/app/getUserSettings').then( resp => {
            store.commit('modules/app/SET_USER_SETTINGS', resp.data)
          })
        })
    }
  },
  computed: {
    getUserSettings() {
      return this.$store.getters['modules/app/getUserSettings']
    },
    getUser() {
      return this.$store.getters['modules/app/getUser']
    }
  },
  data() {
    return {
      company: '',
      login: '',
      phoneNumber: '',
      firstName: '',
      lastName: '',
      notifications: 'off',
      email: '',
      isEditingEmail: false,
      dialogOptions: {
        content: '',
        color: '',
        timer: ''
      },
      isOpenDialog: false
    }
  },
  methods: {
    setUser() {
      this.company = this.getUserSettings.companyname;
      this.login = this.getUserSettings.login;
      this.phoneNumber = this.getUser.phone;
      this.email = this.getUserSettings.email;
      this.firstName = this.getUserSettings.fname;
      this.lastName = this.getUserSettings.lname;
    },
    openDialog(content, color) {
      clearTimeout(this.dialogOptions.timer)
      this.dialogOptions.content = content;
      this.dialogOptions.color = color;
      this.isOpenDialog = true;
      this.dialogOptions.timer = setTimeout(() => {
        this.isOpenDialog = false;
        console.log(this.isOpenDialog)
      }, 3000)
    },
    async changeEmail() {
      // Проверям изменился ли email
      if (this.email !== this.getUserSettings.email) {
        // Если изменился, то отправляем запрос на сервер
        await this.$store.dispatch('modules/app/changeUserEmail', this.email)
          .then(resp => {
            if (resp.status){
              this.openDialog('Email успешно изменен!', '#2dc574');
              this.$store.dispatch('modules/app/getUserSettings').then( resp => {
                this.$store.commit('modules/app/SET_USER_SETTINGS', resp.data);
                this.setUser();
              })
            } else {
              this.openDialog('Не удалось изменить Email', '#a73e26');
            }
          })
      } else {
        this.openDialog('Email не изменен!', '#a73e26');
      }
    }
  },
  mounted() {
    this.setUser();
  },
}
</script>

<style scoped lang="scss">
.wrapper{
  width: 800px;
}
.settings{
  margin-top: 60px;
  margin-left: 80px;
}
.account__title, .notifications__title{
  width: 200px;
}
.account{
  margin-bottom: 50px;
  &__title{
    margin-right: 120px;
    width: 30%;
  }
  &__items{
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  &__item{
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    label{
      margin-right: 20px;
      font-size: 14px;
      width: 20%;
    }
    .input{
      width: 60%;
    }
    input{
      padding: 8px 10px;
      appearance: none;
      background: #fff;
      border: 1px solid #e1e1e3;
      border-radius: 3px;
      &:focus{
        border: 1px solid $active-color;
      }
    }
  }
  &-item{
    &__input{
      display: flex;
      flex-direction: column;
      .text{
        color: #a3a3a3;
        display: block;
        font-size: 12px;
        margin-top: .5px;
      }
    }
  }
}
.notifications{
  &__title{
    margin-right: 120px;
    width: 30%;
  }
  &__items{
    width: 50%;
  }
  &__item{
    &:not(:last-child){
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #e1e1e3;
    }
    input{
      margin-right: 10px;
    }
    label{
      font-size: 14px;
    }
  }
}
.notification-item{
  &__right{
    span{
      font-size: 14px;
    }
  }
  &__change-email{
    color: $active-color;
    background: none;
    border: none;
    width: 18px;
    height: 18px;
    cursor: pointer;
    svg{
      height: 100%;
    }
  }
  &__input{
    width: 100%;
    input{
      padding: 8px 10px;
      border: 1px solid #e1e1e3;
      margin-right: 0;
    }
  }
}
.save{
  width: 120%;
  margin-top: 20px;
  button{
    padding: 13px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: $active-color;
    width: 58.5%;
    &:hover{
      background: $active-color-hover;
    }
  }
}
.hr{
  width: 120%;
  display: flex;
  justify-content: end;
  margin-top: 40px;
  hr{
    width: 58.5%;
    background: none;
    border: none;
    border-top: 1px solid #e1e1e3;
  }
}
</style>
