@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url("~static/fonts/Montserrat-SemiBold.ttf") format('truetype');
}
@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica'), url("~static/fonts/helvetica_regular.otf") format('truetype');
}
