* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}
input{
  outline:none;
}
a{
  color: #2dc574;
  text-decoration: none;
  font-size: 14px;
  &:hover{
    text-decoration: underline;
  }
}

.d-flex{
  display: flex;
}
.column{
  flex-direction: column;
}
.x-center{
  justify-content: center;
}
.x-start{
  justify-content: start;
}
.x-end{
  justify-content: end;
}
.x-space-between{
  justify-content: space-between;
}
.y-center{
  align-items: center;
}
.y-start{
  align-items: start;
}
.y-end{
  align-items: end;
}
.bg-active{
  background: #2dc574 !important;
}
// Animations
.dialog-enter-active, .dialog-leave-active{
  transition: transform .4s;
  transform: translateY(-200px);
}
.dialog-enter-from, .dialog-leave-to{
  transform: translateY(-200px);
}
.dialog-leave-from, .dialog-enter-to{
  transform: translateY(0);
}
.disable-btn{
  background: #dbdbdb !important;
}
